<div class="post-archive">
 
    <ul class="archive">
          
      <li>
              
        <ul class="posts badgeList sideList1 filterList1 w100p">
          <% posts.each do |post| %>
        
                <%# posts_by_day.each_with_index do |post, index| %>
                  <li<% if @post && post.title == @post.title %> class="current"<% end %>><%= link_to h(post.title), post_seo_path(@blog, post) %></li>
                <% end %>
              </ul>
              <!-- <br class="clear"/> -->
            </li>
          <%# end %>
        </ul>

</div>
